
{% extends "auctions/layout.html" %}
{% load static %}

{% block seguimiento %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'seguimiento' 0 user.id  %}">Whatchlist</a>
</li>

{% endblock%}

{% block body %}

<h2 class="titulo" >Categories</h2>

<ul>
    {% for cat in categorias %}

    <li class="confirmacionSeg">
        <h2 class="tituloConfirmacionSeg">
            <a class="tituloConfirmacionSeg" href="{% url 'categoria' cat%}">{{cat}}</a> 
        </h2>
     </li>
    <br>

    {% endfor %}
</ul>





{% endblock %}