{% extends "auctions/layout.html" %}
{% load static %}

{% block seguimiento %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'seguimiento' 0 user.id  %}">Whatchlist</a>
</li>

{% endblock%}

{% block body %}

<h2 class="titulo" >Notifications</h2>

<ul>
    {% for not in notificaciones %}

    <li class="confirmacionNot">
        <h6 class="tituloConfirmacion">Congratulations! {{user}}, won an auction</h6>
        <h6 class="tituloConfirmacion">Auction: {{not.subasta}} </h6>
     </li>
    <br>

    {% endfor %}
</ul>





{% endblock %}